body {
	text-align: center;
}

#battlefield {
	height: 600px;
	width: 900px;
	border: solid purple;
	margin: 0 auto;
}

#panel {
	position: absolute;
	right: 0;
	top: 40%;
	height: 200px;
	width: 100px;
	border: solid black;
}

#playCard {
	visibility: hidden;
}

.playerCards {
	position: relative;
	width: auto;
	height: 49%;
	border: solid black;
}

.playerCards div {
	position: relative;
	width: 80px;
	height: 40%;
	border: solid green;
	display: inline-block;
	margin: 20px;
	vertical-align: top;
}

#showHand p {
	display: inline;
	margin: 10px;
}

p:hover {
	color: white;
	background-color: green;
}

.rotated {
	transform: rotate(90deg);
}